<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe Form</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      {% comment %} {{form.as_p}} {% endcomment %}
      {% comment %} {{form.as_table}} {% endcomment %}
      {% comment %} {{form.as_ul}} {% endcomment %}
      {% comment %} <input type="submit" value="Submit"> {% endcomment %}
      {% comment %} {% csrf_token %}
      {% if email_error_empty %}
        <p>{{email_error_empty}}</p>
      {% endif %}  {% endcomment %}
      <label for="f_name">First Name</label>
      {{form.first_name}}

      <label for="l_name">Last Name</label>
      {{form.last_name}}

      <label for="email">Email</label>
      {{form.email}}

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
