{% extends 'base.html' %}
{% block title %}
Jobs Details
{% endblock title %}
{% load static %}
{% block content %}





    <section>
      <div class="container">
        <div class="view-post">
          <h1 class="jobtitle">
            {{job.title}}
          </h1>
          <p class="location it">Location: <span>{{job.location.city}}</span></p>
          <p class="status it">Type: <span>{{job.type}}</span></p>
          <p class="budget it">Salary: <span>{{job.salary}}Rs. </span></p>
          <div class="desc">
            <p class="details">
              {{job.description | safe }}
            </p>
          </div>
        </div>
      </div>
    </section>
    
    {% endblock content %}
